:root {
  --heading-typography: "Space Mono", monospace;
  --body-typography: "Lexend Deca", sans-serif;

  --container-width: 74rem; /*1110*/
  --container-horizontal-space: 2.1rem; /*31.5px*/

  --hero-content-max-width: 33rem /*495px*/;
  --hero-left-padding: 3.7rem; /*57px*/
  --hero-line-height: 1rem;

  --hero-left-decoration-spacing: 2.7rem; /*40,5px*/

  --total-space-when-is-ok: 86.7rem; /*1300px*/
}
* {
  box-sizing: border-box;
}
html {
  font-size: 0.9375em; /*16:15px*/
  line-height: 1.66666667;
  font-family: var(--body-typography);
  font-weight: 400;
  overflow-x: hidden;
}
body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  font-size: 1rem;
}

p {
  margin: 0;
}

.container {
  max-width: var(--container-width); /*1110*/
  margin: 0 auto;
  padding: 0 var(--container-horizontal-space); /*31.5*/
}
.section-hero {
  display: flex;
  width: 100%;
  min-height: 43rem;
  align-items: center;
  position: relative;

  background-image: url("./images/hero-image.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;

  color: #ffffff;
}
.bg--filter:before {
  content: "";
  position: absolute;
  /* inset: 0; */
  background-color: rgba(47, 59, 89, 0.75);
  z-index: 0;
}
.hero__wrapper {
  z-index: 1;
  width: 100%;
}
.hero__content-container {
  max-width: var(--hero-content-max-width); /*495px*/
}

.hero__content-container:not(:first-child) {
  margin-top: 2.7rem;
}
.main-header {
  color: #fff;
  font-size: 3.7rem;
  font-family: var(--heading-typography);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.025em;
}
.hero--left-padding {
  padding-left: var(--hero-left-padding); /*57.5px*/
}
.hero--decoration {
  position: relative;
}
.hero--decoration:before {
  /*linia simpla orizontala*/
  content: "";
  position: absolute;
  top: calc(50% - var(--hero-line-height) / 2); /*50% top -7.5px*/
  right: calc(100%);
  width: calc(
    (100vw - var(--container-width)) / 2 + var(--container-horizontal-space)
  );
  height: 1rem;
  background-color: #fcb72b;
}
.hero--decoration:after {
  /*zig zag si cercuri*/
  content: "";
  position: absolute;
  top: calc(50% - 0.5rem);
  left: 100%;
  width: calc(
    100vw - (100vw - var(--container-width)) / 2 - var(--hero-content-max-width) -
      var(--hero-left-decoration-spacing) - var(--container-horizontal-space)
  );
  height: 9.2rem;
  margin-left: var(--hero-left-decoration-spacing);
  background-image: url("./images/linie-zig.png"), url("./images/circles.png");
  background-repeat: no-repeat;
  background-position-x: min(calc(100vw - var(--total-space-when-is-ok)), 0%),
    right;
  background-position-y: top, bottom;
}
.hero__decoration--touch {
  display: none;
}

.button {
  text-decoration: none;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.67;
  text-align: center;

  padding: 1em 2.6em;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s;
}
.primary-button {
  background-color: #fcb72b;
  color: #ffffff;
  border: 3px solid transparent;
}

.primary-button:hover {
  background: transparent;
  color: #fcb72b;
  border: 3px solid #fcb72b;
}

/* Media Queries for tablet */
@media only screen and (max-width: 74rem) {
  /*1110px*/
  .hero--decoration:before,
  .hero--decoration:after {
    display: none;
  }
  .hero__content-container {
    max-width: 38rem;
    text-align: center;
    margin: 0 auto;
  }
  .hero__decoration--touch {
    display: block;
    width: 100%;
    height: 9.2rem;
    margin-top: 2.7rem;
    background-image: url("./images/linie-zig.png"), url("./images/circles.png");
    background-repeat: no-repeat;
    background-position-x: min(calc(100vw - 50rem), -30%), right;
    background-position-y: top, bottom;
  }
}
/*Media Queries for Mobile */
@media only screen and (max-width: 26.6rem) {
  /*400px*/
  .hero__decoration--touch {
    background-image: url("./images/linie-zig.png");
    background-position-x: min(calc(100vw - 45rem), -30%), right;
    margin-bottom: 2.3rem;
  }
  .container {
    margin-top: 7.66rem;
  }
}
