* {
    box-sizing: border-box;
}

body {
    max-width: 1440px;
}


h2{ 
    font-family: 'Space Mono', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 48px;
    color: #495567;
}

p {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #939CAA;
}

.primary-button {
    font-family: 'Space Mono', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    color: #FFFFFF;
    border: none;
    background-color: #FCB72B;
    padding: 14px 44px;
    cursor: pointer;
}

.primary-button:hover {
    background-color: #FFFFFF;
    color: #FCB72B;
    border: 3px solid #FCB72B;
    padding: 11px 41px;
}


.section-1 {
    display: flex;
    flex-direction: row;
}



