:root {
  --heading-typography: "Space Mono", monospace;
  --body-typography: "Lexend Deca", sans-serif;

  --container-width: 74rem; /*1110*/
  --container-horizontal-space: 2.1rem; /*31.5px*/

  --hero-content-max-width: 33rem /*495px*/;
  --hero-left-padding: 2rem; /*30px*/
  --hero-line-height: 1rem;

  --hero-left-decoration-spacing: 2.7rem; /*40,5px*/

  --total-space-when-is-ok: 86.7rem; /*1300px*/
  --circle-size: 6.4rem;
  --line-height: 1rem;

  --page-container-size: 85rem;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 0.9375em; /*16:15px*/
  line-height: 1.66666667;
  font-family: var(--body-typography);
  font-weight: 400;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 1rem;
}

p {
  margin: 0;
}
.page-container {
  max-width: var(--page-container-size);
  margin: 0 auto;
}
/*SECTIO-HERO*/
.container {
  max-width: var(--container-width); /*1110*/
  margin: 0 auto;
  padding: 0 var(--container-horizontal-space); /*31.5*/
}
.section-hero {
  display: flex;
  width: 100%;
  min-height: 43rem;
  align-items: center;
  position: relative;

  background-image: url("./images/hero-image.png");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;

  color: #ffffff;
}
.bg--filter:before {
  content: "";
  position: absolute;
  /* inset: 0; */
  background-color: rgba(47, 59, 89, 0.75);
  z-index: 0;
}
.hero__wrapper {
  z-index: 1;
  width: 100%;
}
.hero__content-container {
  max-width: var(--hero-content-max-width); /*495px*/
}

.hero__content-container:not(:first-child) {
  margin-top: 2.7rem;
}
.main-header {
  color: #fff;
  font-size: 3.7rem;
  font-family: var(--heading-typography);
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.025em;
}
.hero--left-padding {
  padding-left: var(--hero-left-padding); /*57.5px*/
}
.hero--decoration {
  position: relative;
}
.hero--decoration:before {
  /*linia simpla orizontala*/
  content: "";
  position: absolute;
  top: calc(50% - var(--hero-line-height) / 2); /*50% top -7.5px*/
  right: calc(100%);
  width: calc(
    (100vw - var(--container-width)) / 2 + var(--container-horizontal-space)
  );
  height: 1rem;
  background-color: #fcb72b;
}
.hero--decoration:after {
  /*zig zag si cercuri*/
  content: "";
  position: absolute;
  top: calc(50% - 0.5rem);
  left: 100%;
  width: calc(
    100vw - (100vw - var(--container-width)) / 2 - var(--hero-content-max-width) -
      var(--hero-left-decoration-spacing) - var(--container-horizontal-space)
  );
  height: 9.2rem;
  margin-left: var(--hero-left-decoration-spacing);
  background-image: url("./images/linie-zig.png"), url("./images/circles.png");
  background-repeat: no-repeat;
  background-position-x: min(calc(100vw - var(--total-space-when-is-ok)), 0%),
    right;
  background-position-y: top, bottom;
}
.hero__decoration--touch {
  display: none;
}
.button {
  text-decoration: none;
  font-family: "Space Mono";
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.67;
  text-align: center;

  padding: 1em 2.6em;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.3s;
}
.primary-button {
  background-color: #fcb72b;
  color: #ffffff;
  border: 3px solid transparent;
}

.primary-button:hover {
  background: transparent;
  color: #fcb72b;
  border: 3px solid #fcb72b;
}

/*HOW-IT-WORKS*/

.section-hiw {
  max-width: var(--page-container-size);
  margin-top: 10.67rem;
  padding-left: 11rem;
}

.container-hiw {
  width: 100%;
  display: flex;
  gap: 2rem;
  position: relative;
  list-style-type: none;
  padding: 0;
}
.container-hiw:before,
.container-hiw:after {
  content: "";
  position: absolute;
  top: calc(var(--circle-size) / 2 - var(--line-height) / 2);
  display: block;
  height: var(--line-height);
  background-color: #e5ecf4;
}

.container-hiw:before {
  left: calc(var(--circle-size) / 2);
  right: 0;
  width: calc(100% / 3 * 2 + var(--circle-size) / 2);
  background-color: #e5ecf4;
}

.container-hiw:after {
  right: 100%;
  width: calc(100vw - var(--page-container-size) / 2 - 8px);
  background-color: #e5ecf4;
}
.hiw-title {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.16rem;
  letter-spacing: -1.07143px;
  color: #495567;
  margin-bottom: 2.66rem;
}
.hiw-content {
  font-size: 1rem;
  line-height: 1.16rem;
  font-weight: 400;
  font-family: "Lexend Deca";
  color: #939caa;
}

.container-hiw .item {
  flex: 1;
  position: relative;
  padding-top: calc(1 * var(--circle-size) + 2.66rem);
}

.container-hiw .item:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: var(--circle-size);
  height: var(--circle-size);
  background-size: contain;
}

.item.locate-img:before {
  background-image: url(./images/icon1.png);
}

.item.pick-img:before {
  background-image: url(./images/icon2svg.svg);
}

.item.ride-img:before {
  background-image: url(./images/icon3.png);
}

/* Media Queries for tablet */
@media only screen and (max-width: 74rem) {
  /*1110px*/
  .hero--decoration:before,
  .hero--decoration:after {
    display: none;
  }
  .hero__content-container {
    max-width: 38rem;
    text-align: center;
    margin: 0 auto;
  }
  .hero__decoration--touch {
    display: block;
    width: 100%;
    height: 9.2rem;
    margin-top: 2.7rem;
    background-image: url("./images/linie-zig.png"), url("./images/circles.png");
    background-repeat: no-repeat;
    background-position-x: min(calc(100vw - 50rem), -30%), right;
    background-position-y: top, bottom;
  }
}

/*Media Queries for smaller tablets*/
@media only screen and (max-width: 51rem) {
  /*768px*/
  .section-hiw {
    margin-top: 8rem;
    margin-left: 6.53rem;
    margin-right: 6.53rem;
    padding-left: 0;
  }

  .container-hiw {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 2.67rem;
  }

  .container-hiw .item {
    padding-top: 0;
    padding-left: calc(var(--circle-size) + 5.27rem);
  }

  .container-hiw:before,
  .container-hiw:after {
    content: "";
    position: absolute;
    left: calc(var(--circle-size) / 2 - var(--line-height) / 2);

    display: block;
    width: var(--line-height);
    background-color: #e5ecf4;
  }

  .container-hiw:before {
    right: auto;
    top: -8rem;
    height: calc(8rem + var(--circle-size) / 2);
  }

  .container-hiw:after {
    right: auto;
    height: calc(
      (100% - 2 * 2.67rem) / 3 * 2 + 2 * 2.67rem + var(--circle-size) / 2
    );
    top: 0;
    z-index: -1;
  }
}

/*Media Queries for Mobile */
@media only screen and (max-width: 25rem) {
  /*375px*/
  .hero__decoration--touch {
    background-image: url("./images/linie-zig.png");
    background-position-x: min(calc(100vw - 45rem), -30%), right;
    margin-bottom: 2.3rem;
  }

  .section-hiw {
    margin-left: 0;
    margin-right: 0;
  }

  .container-hiw:before,
  .container-hiw:after {
    display: none;
  }

  .container-hiw {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
  }

  .container-hiw .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;
    padding: 0;
  }

  .container-hiw .item:before {
    --circle-size: 3.73rem;
    position: static;
  }

  .container-hiw .title {
    font-size: 1.33rem;

    letter-spacing: -0.892857px;
  }

  .container-hiw .content {
    margin-top: 0;
  }

  .hiw-content {
    padding: 0 2rem 0 2rem;
  }
}
